In [1]:
import bf4py
test = bf4py.BF4Py("US594918BY93")

In [60]:
from datetime import date
test.general.eod_data(min_date= date(2023, 8, 25), isin= "US594918BY93", mic= "XFRA")

[{'date': '2023-08-25',
  'open': 95.29,
  'close': 95.34,
  'high': 95.49,
  'low': 95.24,
  'turnoverPieces': 0,
  'turnoverEuro': 0}]

In [110]:
#test.derivatives.instrument_data("US594918BY93", mic = "XFRA")
from datetime import datetime, date


connector = bf4py.connector.BF4PyConnector()
# params = {"isin": "US594918BY93"}

response = test.general.instrument_information("US594918BY93")
response2 = connector.data_request("master_data_bond", params=params)

response3 = test.general.eod_data(isin= "US594918BY93", min_date= date(year= 2022, month=8,  day=20), mic = "XFRA")

In [111]:
import pandas as pd


df1 = pd.DataFrame(list(response.items()))
df2 = pd.DataFrame(list(response2.items()))
df3 = pd.DataFrame(list(response3))

In [122]:
df3

           date   open   close    high    low  turnoverPieces  turnoverEuro
0    2023-08-25  95.29  95.340  95.490  95.24               0           0.0
1    2023-08-24  95.49  95.535  95.635  95.40               0           0.0
2    2023-08-23  95.03  95.575  95.625  95.03               0           0.0
3    2023-08-22  95.13  95.165  95.290  95.06               0           0.0
4    2023-08-21  95.16  95.130  95.320  95.13           26000       24783.2
..          ...    ...     ...     ...    ...             ...           ...
256  2022-08-26  99.15  98.980  99.150  98.95               0           0.0
257  2022-08-25  98.90  98.920  99.020  98.90               0           0.0
258  2022-08-24  99.13  98.840  99.150  98.84               0           0.0
259  2022-08-23  99.14  99.430  99.430  99.01               0           0.0
260  2022-08-22  99.48  99.190  99.510  99.19               0           0.0

[261 rows x 7 columns]

In [51]:
from datetime import datetime, timezone, time


params = {"isin": "US594918BY93",
            'from': datetime.combine(datetime(2022, 8, 1), time(8,0,0)).astimezone(timezone.utc).isoformat().replace('+00:00','Z'),
            'to': datetime.combine(datetime(2023, 8, 1), time(22,0,0)).astimezone(timezone.utc).isoformat().replace('+00:00','Z'),
            'limit': 20,
            'offset': 0,
            'includePricesWithoutTurnover': False
            }


connector.data_request('trade_history_bonds', params)

{'timestamp': '2023-08-27T21:56:02.281+00:00',
 'status': 404,
 'error': 'Not Found',
 'path': '/data/trade_history_bonds'}

### The Boerse Frankfurt Bonds supports the following backends
- master_data_bond
- general.eod_data